@charset "utf-8";
/* CSS Document */
html {
 scroll-behavior: smooth;

}

body {
  
  font-family: 'Open Sans', sans-serif !important;
  color: #666 !important;
  
}

.contentBG {
  
  background-color: #1abc9c;
  color: #fff !important;
}

.ContentPane h2 {
  
  font-size: 3.2rem;
  color: #333;
  padding-bottom: 20px;
  font-weight: 700;
  
  
}





.navBG {
  
  background-color: #6c757d;
  
}

.card {
  margin-bottom: 40px;
}

.card img {
  

}


.card img:hover {
  
   filter: brightness(100%);
   transition: 0.8s;
}

.navbar-dark {
  
  background-color: #2c3e50;
  height: 100px
  
}

.navBG {
  
  background: #212529;
}


.navbar-brand {
  
  font-size: 2rem !important;
  font-weight: 700;
  
}

.nav-item a {
  
  color: #fff !important;
  font-size:  1rem !important;
  font-weight: 600;
}

.nav-item a:hover {
  
  color: #1abc9c !important;
}

.BannerText h1 {
  
  font-size: 3rem;
  font-weight: 700;
}


.BannerText {
  
  margin-top: -200px !important;;
  color: #fff;
 
  font-size: 2.5rem;
  z-index: 10;
  
  
}

#contact {
  /* padding-top: 40px !important; */
}



@media only screen and (max-width: 1200px) { 
.BannerText {
  
  margin-top: -300px;
  color: #fff;
  text-align: left;
  font-size: 1rem;
   max-width: unset !important;
}

}



@media only screen and (max-width: 992px) { 
.BannerText {
  
  margin-top: -250px;
  color: #fff;
  
  font-size: 1rem;
  max-width: unset !important;
  
}

}

@media only screen and (max-width: 768px) { 
.BannerText {
  
  margin-top: -200px;
  color: #fff;
  
  font-size: 1rem;
  
}

}

@media only screen and (max-width: 768px) { 
.BannerText h1 {
  
 
  color: #fff;
  
  font-size: 1.5rem;
  
}

}


@media only screen and (max-width: 576px) { 
.BannerText {
  
  margin-top: -150px;
  color: #fff;
  
  font-size: 1rem;
  
}

}

@media only screen and (max-width: 430px) { 
.BannerText {
  
 display: none;
  
}

}




.banner {
  
  filter: brightness(40%);
  
}

.ContentPane, .skills  {
  
  margin-top: 100px;
  font-size: 1.5rem;
  padding-bottom: 100px;
   border-bottom:  1px solid  #999!important;
  font-family: 'Open Sans', sans-serif;
   
  
  
}

.ContentPane  {
  
  margin-top: 50px;
  font-size: 1.5rem;
  padding-bottom: 50px;
  padding-top: 40px !important;
  
  
}

@media only screen and (max-width: 991px) { 


.ContentPane, .skills  {
  
  margin-top: 50px;
  font-size: 1rem;
  padding-bottom: 50px;
  
  
  
}
}
  
  @media only screen and (max-width: 768px) { 




}

.ContentPane h2, .skills h2 {
  
  font-size: 2.2rem;
  color: white;
  padding-bottom: 10px;
  
}

#work {
  
  margin-top: 50px;
  color: #fff;
  font-size: 1.3rem;
  
  
  
}

#work h2 {
  
  font-size: 3.2rem;
  color: #333;

  font-weight: 700;
  
}


.contactForm h2 {
  
  
  font-size: 3.2rem;

  padding-bottom: 20px;
  font-weight: 700;
}


.contactForm {
  
  background-color: #1abc9c;
  padding: 40px;
  
}

.btn-success {
  
  background-color: #1abc9c !important;
}


.contentBG {
  

  color: #666
}

.workBG {
  

  padding: 10px;
  
/*! background-color: black; */
  padding-bottom: 100px
  
}

.form-floating input.form-control,
.form-floating textarea.form-control {
  font-size: 1.5rem;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
  border-width: 1px;
}
.form-floating input.form-control:focus,
.form-floating textarea.form-control:focus {
  box-shadow: none;
}
.form-floating label {
  font-size: 1.5rem;
  color: #6c757d;
}




footer {
  
    background-color:  black ;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000;
  
}

footer a {
  
  color: #fff
}


.footerspacing {
  
  
}

.navbar.scrolled {
  height: 50px; /* reduce navbar height */
  padding: 10px 0; /* reduce padding */
}
.navbar.scrolled .navbar-brand {
  font-size: 18px; /* reduce logo font size (optional) */
}
.navbar.scrolled .nav-link {
  padding: 10px 20px; /* reduce link padding (optional) */
}