@charset "utf-8";
/* CSS Document */
html {
 scroll-behavior: smooth;

}

body {
  
   font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
    
    font-weight: 700;
  color: #666 !important;
  
}




.AboutBG {
  
  
   font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
    
    font-weight: 700;
  font-size: 1.5rem
}



.navBG {
  
  background-color: #6c757d;
   font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
    
    font-weight: 700;
  
}

.card {
  margin-bottom: 10px;
}






.navbar-dark {
  
  background-color: #2c3e50;
  height: 100px
  
}

.navBG {
  
  background: #212529;
}


.navbar-brand {
  
  font-size: 2rem !important;
  font-weight: 700;
   font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
    
  
  
}

.nav-item a {
  
  color: #fff !important;
  font-size:  1rem !important;
  font-weight: 600;
}

.nav-item a:hover {
  
  color: pink !important;
}

.BannerText h1 {
  
  font-size: 3rem;
  font-weight: 700;
   font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
    
    font-weight: 700;
}


.BannerText {
  
  margin-top: 0px !important;;
  color: #000;
   background-color: pink;
  font-size: 2.5rem;
  z-index: 10;
  padding-top: 10px;
   font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
    
    font-weight: 700;
  
  
}




@media only screen and (max-width: 1200px) { 
.BannerText {
  
  margin-top: -300px;
  color: #000;
  text-align: left;
  font-size: 1rem;
   max-width: unset !important;
}

}



@media only screen and (max-width: 992px) { 
.BannerText {
  
  margin-top: -250px;
  color: #000;
  
  font-size: 1rem;
  max-width: unset !important;
  
}

}

@media only screen and (max-width: 768px) { 
.BannerText {
  
  margin-top: -200px;
  color: #000;
  
  font-size: 1rem;
  
}

}

@media only screen and (max-width: 768px) { 
.BannerText h1 {
  
 
  color: #000;
  
  font-size: 1.5rem;
  
}

}


@media only screen and (max-width: 576px) { 
.BannerText {
  
  margin-top: -150px;
  color: #000;
  
  font-size: 1rem;
  
}

}

@media only screen and (max-width: 430px) { 
.BannerText {
  

  
}

}




.banner {
  

  
  
}

.card {
  
   filter: grayscale(100%);
}


.card:hover {
  
   filter: grayscale(0%);
}


  
  .PortfolioBG h2, .AboutBG h2 {
  text-align: center !important;
  margin: 50px auto;
  text-decoration: none;
  border-bottom: 5px solid pink;
  max-width: 500px;
    color: #000;
     font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
    
    font-weight: 700;
}
  



















footer {
  
  background-color: #000;
  padding: 20px;
}
